﻿@page
@model WebBreakingNews.Pages.DetailModel
@{
    ViewData["Title"] = "TECNET WEB - マラソン大会結果速報システム";
    ViewData["LinkfontAwe"] = "https://use.fontawesome.com/releases/v5.10.1/css/all.css?v=1234";
    ViewData["ImageLogo"] = "/image/logo.png";
    ViewData["MyFavico"] = "/tecnet.ico";

    var textNumber = "ナンバー";
    var textAccept = "image/png,image/bmp,image/jpeg,image/gif";

    var textMsg1 = "※上記記録は速報値です";

    var textMakeCertifi = "記録証PDFを作成する";
    var textMakePdf = "　PDF作成　";
    var textSelectImage = "画像選択（任意)";
    var textImageKind = "SELECT IMAGE (.png/.bmp/.jpg/.jpeg/.gif)";
    var textEncType = "multipart/form-data";

    var textTopPage = "/Index";
    var textReturn = "検索画面へ戻る";

    var textAttention1 = "＊画像ファイルのサイズが大きいと";
    var textAttention2 = "　アップロードに数分かかる場合があります。";
    var textAttention3 = "　アップロードを中止したい場合は、";
    var textAttention4 = "　\"検索画面へ戻る\"を押してください。";
}


<body id="top">

    <main class="main">
        <section class="box1">
            <h2 class="title bg_color1">@Model.mDspRslt.EventName</h2>
            <h3 class="type"><span>@Model.mDspRslt.dispResultTitle.Race</span>@Model.mDspRslt.ItemName</h3>
            <div class="gray_box2">
                <div class="row">
                    @if (@Model.mDspRslt.dispResultTitle.dispNumber == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@textNumber</h4>
                                <p>@Model.mDspRslt.BibNumber</p>
                            </div>
                        </div>
                    }
                    @if (@Model.mDspRslt.dispResultTitle.dispName == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@Model.mDspRslt.dispResultTitle.Name</h4>
                                <p>@Model.mDspRslt.PlayerName</p>
                            </div>
                        </div>
                    }
                    @if (@Model.mDspRslt.dispResultTitle.dispGrossTime == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@Model.mDspRslt.dispResultTitle.GrossTime</h4>
                                <p>@Model.mDspRslt.GrossTime</p>
                            </div>
                        </div>
                    }
                    @if (@Model.mDspRslt.dispResultTitle.dispNetTime == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@Model.mDspRslt.dispResultTitle.NetTime</h4>
                                <p>@Model.mDspRslt.NetTime</p>
                            </div>
                        </div>
                    }
                    @if (@Model.mDspRslt.dispResultTitle.dispPlace == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@Model.mDspRslt.dispResultTitle.Place</h4>
                                <p>@Model.mDspRslt.Place</p>
                            </div>
                        </div>
                    }
                    @if (@Model.mDspRslt.dispResultTitle.dispPlaceByAll == true)
                    {
                        <div class="item_result">
                            <div class="inner">
                                <h4>@Model.mDspRslt.dispResultTitle.PlaceByAll</h4>
                                <p>@Model.mDspRslt.PlaceByAll</p>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <p class="ac">@Model.mDspRslt.REFERENCE_RECORD</p>
        </section>

        <section class="box1">
            <h2 class="title bg_color1">@textMakeCertifi</h2>
            <form method="post" enctype=@textEncType>
                <div class="gray_box">
                    <div class="row">
                        <div class="item_pdf">
                            <h3 class="sub_title icon3">@textSelectImage <span>@textImageKind</span></h3>
                        </div>
                        <div class="item_pdf">
                            <div class="form_file">
                                @Html.TextBoxFor(m => m.PostedFile, new { type = "file", id = "file", accept = @textAccept })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6>@textAttention1</h6>
                    </div>
                    <div class="row">
                        <h6>@textAttention2</h6>
                    </div>
                    <div class="row">
                        <h6>@textAttention3</h6>
                    </div>
                    <div class="row">
                        <h6>@textAttention4</h6>
                    </div>
                </div>
                
                <div class="ac">
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => @textMakePdf, new { type = "submit", @class = "button", })
                </div>
            </form>
        </section>

        <div class="btn_back">
            <a asp-area="" asp-page=@textTopPage>@textReturn</a>
        </div>
    </main>
</body>


