﻿@page
@model ErrorModel
@{
    ViewData["Title"] = "TECNET WEB - マラソン大会結果速報システム";
    ViewData["LinkfontAwe"] = "https://use.fontawesome.com/releases/v5.10.1/css/all.css?v=1234";
    ViewData["LinkCss"] = "/css/layout.css";
    ViewData["ImageLogo"] = "/image/logo.png";
    ViewData["MyFavico"] = "/tecnet.ico";    // コメントはずすと、OnGetこなくなる

    ViewData["Jquery"] = "/js/jquery-1.12.3.min.js";
    ViewData["JavaSc"] = "/js/init.js";

    var textTopPage = "/Index";
    var textReturn = "検索画面へ戻る";
    //var textError = "Http エラー が発生しました。";
    //var textError2 = "リクエストの処理中にエラーが発生しました。"

}

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@


<body id="top">

    <main class="main">
        <section class="box1">
            <h2 class="title bg_color3">@Model.ErrTitle</h2>
            <div class="gray_box error">
                @foreach (var ob in @Model.ErrMsgs)
                {
                <p>@ob</p>
                }
            </div>
        </section>

        <div class="btn_back">
            <a asp-area="" asp-page=@textTopPage>@textReturn</a>
        </div>

    </main>

</body>