﻿@page
@model WebBreakingNews.Pages.ErrorMsgModel
@{
    ViewData["Title"] = "TECNET WEB - マラソン大会結果速報システム";
    ViewData["LinkfontAwe"] = "https://use.fontawesome.com/releases/v5.10.1/css/all.css?v=1234";
    ViewData["ImageLogo"] = "/image/logo.png";
    ViewData["MyFavico"] = "/tecnet.ico";

    var textTopPage = "/Index";
    var textReturn = "検索画面へ戻る";
    var textError = "エラー";
}

<body id="top">

    <header class="header clearfix">
        <h1 class="logo"></h1>
    </header>
    <main class="main">
        <section class="box1">
            <h2 class="title bg_color3">@textError</h2>
            <div class="gray_box error">
                @foreach (var ob in @Model.ErrMsgs)
                {
                    <p>@ob</p>
                }
            </div>
        </section>

        <div class="btn_back">
            <a asp-area="" asp-page=@textTopPage>@textReturn</a>
        </div>
    </main>

</body>

