﻿@page
@model IndexModel
@{
    ViewData["Title"] = "TECNET WEB - マラソン大会結果速報システム";
    ViewData["LinkfontAwe"] = "https://use.fontawesome.com/releases/v5.10.1/css/all.css?v=1234";
    ViewData["ImageLogo"] = "/image/logo.png";
    ViewData["MyFavico"] = "/tecnet.ico";

    var textTaikaiKirokusokuhou = "大会記録速報";
    var textTaikaiMeiSentaku = "大会名選択";
    var textSelectMarathonEvent = "SELECT MARATHON EVENT";
    var textTaikaimeiSenntaku = "大会名を選択してください";
    var textSuuchiNomi = "(0～9)";
    var textPleaseInputNum = "ナンバーを入力してください";
    var textInputNo = "ゼッケンNo.入力";
    var textInputYourNo = "INPUT YOUR NUMBER";
    var textKensaku = "　検索する　";
    var textGoriyou = "ご利用方法";

    var textMsg1 = "大会名を選択し、ご自身のナンバーを入力してください。ナンバーに英字がある場合は、数値のみ入力してください。";
    var textMsg2 = "入力に誤りがない事を確認し、検索ボタンを押してください。";
    var textMsg3 = "記録順位は速報値です。";
    var textMsg4 = "完走されていない方は、記録がありません。";
    var textMsg5 = "アクセスが集中し繋がりにくい場合は、お手数ですが時間が経ってからご利用くださいますようお願いします。";
    var textMsg6 = "WEB記録証・完走証は";
    var textMsg7 = "本人のみ作成できるサービスとなります。";

}


<body id="top">

    <main class="main">
        <section class="box1">
            <h2 class="title bg_color1">@textTaikaiKirokusokuhou</h2>
            <form asp-page="Index">
                <div class="row">
                    <div class="item_search">
                        <div class="gray_box">
                            <h3 class="sub_title icon1">@textTaikaiMeiSentaku<span>@textSelectMarathonEvent</span></h3>
                            @Html.DropDownList("DropDownListItems", ViewData["DropDownListItems"] as SelectList, @textTaikaimeiSenntaku, new { @class = "select" })
                        </div>
                    </div>
                    <div class="item_search">
                        <p class="arrow"></p>
                    </div>
                    <div class="item_search">
                        <div class="gray_box">
                            <h3 class="sub_title icon2">@textInputNo<span>@textInputYourNo</span></h3>
                            @Html.TextBox("mNumber", @Model.mNumber, new { @class = "input", pattern = @"\d*", placeholder = @textPleaseInputNum, title = @textSuuchiNomi })
                        </div>
                    </div>
                </div>
                <div class="ac">
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => textKensaku, new { type = "submit", @class = "button", })
                </div>

            </form>
        </section>
        <section class="box2">
            <h2 class="title bg_color2">@textGoriyou</h2>
            <ul>
                <li>@textMsg1</li>
                <li>@textMsg2</li>
                <li>@textMsg3</li>
                <li>@textMsg4</li>
                <li>@textMsg5</li>
            </ul>
        </section>

        <div class="caution">@textMsg6<span class="br_sp">@textMsg7</span></div>

    </main>

</body>


