﻿<!DOCTYPE html>
<html lang="ja">

<head>
    @{ 
        ViewData["LinkfontAwe"] = "https://use.fontawesome.com/releases/v5.10.1/css/all.css?v=1234";
        ViewData["LinkCss"] = "/css/layout.css";

        ViewData["Jquery"] = "/js/jquery-1.12.3.min.js";
        ViewData["JavaSc"] = "/js/init.js";

    }
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content=@ViewData["Title"] />
    <meta name="description" content=@ViewData["Title"] />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:title" content=@ViewData["Title"] />
    <meta property="og:description" content=@ViewData["Title"] />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_jp" />
    <meta property="og:site_name" content=@ViewData["Title"] />
    <link rel="icon" type="image/x-icon" href=@ViewData["DefFavico"]>
    <link href=@ViewData["LinkfontAwe"] rel="stylesheet" />
    <link rel="stylesheet" href=@ViewData["LinkCss"] />

    <link runat="server" rel="shortcut icon" type="image/x-icon" href=@ViewData["MyFavico"] />

</head>


<body>
    <header>
        <h1 class="logo"><a asp-area="" asp-page="/Index"><img src=@ViewData["ImageLogo"] alt=@ViewData["Title"] title=""></a></h1>
    </header>

    @RenderBody()

    <footer class="footer">
        <p class="copyright">Ⓒ 2021 TECHNOPLAN Inc.</p>
    </footer>

    <script type="text/javascript" src=@ViewData["Jquery"] ></script>
    <script type="text/javascript" src=@ViewData["JavaSc"] ></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
