@charset "utf-8";
/* CSS Document */

/******************************************************************/
/*************************     base    ****************************/
/******************************************************************/

html {
	width: 100%;
	font-size: 62.5%;
	background:#037abe;
}
body {
	width: 100%;
	min-width:1080px;
	color: #333;
	font-size: 1.4rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	font-weight:500;
	line-height:1.8;
	background:#fff;
	position: relative;
	background:#037abe url(../image/bg.jpg) left top no-repeat;
	background-size:100%;
}
*, *::before, *::after {
 box-sizing: border-box;
 margin:0;
 padding:0;
}
img {
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	border:none;
	max-width:100%;
	font-family: 'object-fit: cover;'
}
a {
	outline: none;
	text-decoration:none;
}
strong {
	font-weight:normal;
}
.row {
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
}
.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}
.ac {
	text-align:center;
}
.bb {
	font-weight:bold;
}
.s {
	font-size:0.8em;
}
.cl {
	clear:both;
}
.pc {
	display:block;
}
.sp {
	display:none;
}
.br_pc {
	display:block;
}
.br_sp {
	display:inline;
}
.ellipsis {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main_color {
	color:#047dc0;
}
.red {
	color:#047dc0;
}
.bg_color1 {
	background:#047dc0;
}
.bg_color2 {
	background:#38b3e1;
}
.bg_color3 {
	background:#c00404;
}
@media (max-width: 768px) {
body {
min-width:100%;
}
.pc {
display:none;
}
}
@media (max-width: 480px) {
body {
line-height:1.7;
font-size: 1.3rem;
letter-spacing:0.1em;
background-size:100%;
}
.sp {
display:block;
}
.br_pc {
display:inline;
}
.br_sp {
display:block;
}
}
#load {
	width:100%;
	height:100%;
	background:#fff;
	z-index:100;
	position:fixed;
	top:0;
	left:0;
}
#loading, #loading:after {
	border-radius: 50%;
	width: 4em;
	height: 4em;
}
#loading {
	top:50%;
	left:50%;
	margin: -2em 0 0 -2em;
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	border-top: 0.2em solid rgba(0, 67, 124, 1);
	border-right: 0.2em solid rgba(0, 67, 124, 1);
	border-bottom: 0.2em solid rgba(0, 67, 124, 1);
	border-left: 0.2em solid #fff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load 1.1s infinite linear;
	animation: load 1.1s infinite linear;
}
@-webkit-keyframes load {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
@keyframes load {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.logo {
	width:255px;
	margin:0 auto;
	padding:40px 0 30px 0;
}
.box1 {
	width:960px;
	margin:0 auto 60px auto;
	padding:40px;
	background:#fff;
	border-radius:10px;
	box-shadow: 0 0px 20px rgba(0, 70, 110, 0.4);
}
.box2 {
	width:960px;
	margin:0 auto 0 auto;
	padding:40px;
	background:rgba(255, 255, 255, 0.8);
	border-radius:10px;
	box-shadow: 0 0px 20px rgba(0, 70, 110, 0.4);
}
.caution {
	width:960px;
	margin:40px auto 0 auto;
	padding:10px;
	color:#fff;
	text-align:center;
	background:#e66868;
	border-radius:20px;
	box-shadow: 0 0px 20px rgba(0, 70, 110, 0.4);
}
.title {
	margin:0 0 40px 0;
	padding:10px;
	text-align:center;
	font-size:2.4rem;
	color:#fff;
	border-radius:10px;
}
.sub_title {
	margin:0 0 20px 0;
	padding:10px 10px 10px 59px;
	font-size:2.4rem;
	line-height:1.4;
	color:#333;
}
.icon1 {
	background:url(../image/icon1.png) left center no-repeat;
	background-size:44px;
}
.icon2 {
	background:url(../image/icon2.png) left center no-repeat;
	background-size:49px;
}
.icon3 {
	background:url(../image/icon3.png) left center no-repeat;
	background-size:49px;
}
.sub_title span {
	font-size:1rem;
	color:#aaa;
	display:block;
}
.type{
margin:0 0 20px 0;
	padding:0;
	text-align:center;
	font-size:2.4rem;
	line-height:1.4;
	color:#047dc0;
}
.type span{
margin:0 10px 0 0;
padding:0 5px;
color:#fff;
background:#ffbc0f;
border-radius:4px;
}
.item_search {
	-webkit-flex-basis: calc(90% / 2);
	flex-basis: calc(90% / 2);
	min-width: calc(90% / 2);
	position:relative;
}
.item_search:nth-of-type(2) {
-webkit-flex-basis: 10%;
flex-basis: 10%;
min-width: 10%;
text-align:center;
}
.item_result{
-webkit-flex-basis: calc(100% / 3);
	flex-basis: calc(100% / 3);
	min-width: calc(100% / 3);
	position:relative;
}
.item_result .inner{
margin:20px 7px 0 7px;
padding:10px;
text-align:center;
border:1px solid #ccc;
background:#fff;
border-radius:10px;
}
.item_result:nth-child(3n+1) .inner{
margin:20px 13px 0 0;
}
.item_result:nth-child(3n) .inner{
margin:20px 0 0 13px;
}
.item_result .inner h4{
margin:0 0 5px 0;
padding:5px;
color:#fff;
background:#38b3e1;
}
.item_pdf{
-webkit-flex-basis: calc(100% / 2);
	flex-basis: calc(100% / 2);
	min-width: calc(100% / 2);
	position:relative;
}
.item_pdf:first-child{
-webkit-flex-basis: 35%;
	flex-basis: 35%;
	min-width: 35%;
	position:relative;
}
.gray_box {
	width:100%;
	padding:20px;
	background:#fafafa;
	border:1px solid #ccc;
	border-radius:10px;
}
.gray_box2 {
	width:100%;
	margin-bottom:20px;
	padding:0 20px 20px 20px;
	background:#fafafa;
	border:1px solid #ccc;
	border-radius:10px;
}
.arrow {
	width:100%;
	height:35px;
	background:url(../image/arrow1.png) center center no-repeat;
	background-size:35px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
.select {
	width:100%;
	height:40px;
	margin:0 0 10px 0;
	padding:4px;
	font:inherit;
	font-size:1.4rem;
	border:1px solid #ccc;
	border-radius:4px;
	outline: none;
}
.input {
	width:100%;
	height:40px;
	margin:0 0 10px 0;
	padding:4px;
	font:inherit;
	font-size:1.4rem;
	border:1px solid #ccc;
	border-radius:4px;
	outline: none;
}
.form_file{
width:100%;
	height:40px;
	margin:0 0 10px 0;
	padding:4px;
	font:inherit;
	font-size:1.4rem;
	outline: none;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}
input[type="file"]{
font:inherit;
}
.button {
	margin:40px 0 0 0;
	padding:10px 120px;
	color:#fff;
	font:inherit;
	font-size:1.6rem;
	cursor:pointer;
	background:#ffbc0f;
	display: inline-block;
	border-radius:10px;
	border-style: none;
	transition:0.6s;
}
.button:hover {
	background:#ff800f;
}
.btn_back{
text-align:center;
}
.btn_back a{
padding:10px 120px;
font-size:1.6rem;
color:#037abe;
background:#fff;
border-radius:40px;
display:inline-block;
transition:0.6s;
}
.btn_back a:hover{
color:#fff;
background:#ff800f;
}
ul {
	margin:0;
	padding:0;
}
ul li {
	margin:0 0 0.5em 1em;
	line-height:1.4;
	list-style:outside;
}
.error{
text-align:center;
color:#c00404;
}
.footer{
margin:80px 0 0 0;
padding:20px 0;
text-align:center;
color:#fff;
}
.footer .copyright{
font-size:1.2rem;
}
table {
    margin: 0;
    width:100%;
    padding:0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    background:#fff;
    border: 1px solid #ddd;
    border-right:0;
	border-bottom:0;
}
table th {
    width:25%;
    margin: 0;
    padding:10px;
    color:#333;
    text-align:center;
    font-weight: 500;
    vertical-align:middle;
    background: #fafafa;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
table td {
    padding:10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align:center;
    vertical-align: middle;
    color:#333;
}
@media (max-width: 768px) {
.main {
padding:0 20px;
}
.box1 {
 width:100%;
 padding:20px;
 margin:0 auto 40px auto;
}
.box2 {
 width:100%;
 padding:20px;
}
.caution {
 width:100%;
 margin:40px auto 0 auto;
 border-radius:10px;
}
.item_pdf:first-child{
-webkit-flex-basis: 45%;
	flex-basis: 45%;
	min-width: 45%;
	position:relative;
}
}
@media (max-width: 480px) {

.logo {
 width:200px;
 padding:30px 0 30px 0;
}
.gray_box{
padding:15px;
}
.gray_box2{
padding:0 15px 15px 15px;
}
.title {
 margin:0 0 30px 0;
 padding:10px;
 font-size:1.8rem;
 line-height:1.5;
}
.sub_title {
 margin:0 0 10px 0;
 padding:10px 10px 10px 59px;
 font-size:1.8rem;
}
.sub_title span {
 font-weight:bold;
 font-size:0.9rem;
}
.type{
font-size:1.8rem;
}
.item_search {
 -webkit-flex-basis: 100%;
 flex-basis: 100%;
 min-width: 100%;
}
.item_search:nth-of-type(2) {
-webkit-flex-basis: 100%;
flex-basis: 100%;
min-width: 100%;
height:60px;
}
.item_result {
 -webkit-flex-basis: 100%;
 flex-basis: 100%;
 min-width: 100%;
}
.item_result .inner{
margin:15px 0 0 0;
}
.item_result:nth-child(3n+1) .inner{
margin:15px 0 0 0;
}
.item_result:nth-child(3n) .inner{
margin:15px 0 0 0;
}
.item_pdf{
-webkit-flex-basis: calc(100% / 1);
	flex-basis: calc(100% / 1);
	min-width: calc(100% / 1);
	position:relative;
}
.item_pdf:first-child{
-webkit-flex-basis: calc(100% / 1);
	flex-basis: calc(100% / 1);
	min-width: calc(100% / 1);
	position:relative;
}
.arrow {
 background:url(../image/arrow2.png) center center no-repeat;
 background-size:35px;
}
.form_file{
margin:0;
padding:10px 0 0 0;
position:static;
transform:translateY(0);
}
input[type="file"]{
font:inherit;
font-size:1.2rem;
}
.button {
 margin:30px 0 0 0;
 padding:6px 60px;
 font-size:1.6rem;
}
.btn_back a{
width:100%;
padding:7px;
}
.footer{
margin:40px 0 0 0;
}
table {
width:100%;
margin: 0;
border-bottom:1px solid #ddd;
border-right:1px solid #ddd;
}
table thead {
display: none;
}
table th {
border-top:none;
}
table tr {
 display: block;
 clear:both;
}
table td {
 display: block;
 padding: 10px;
 border-bottom: none;
 border-right: none;
}
table td::before {
content:attr(aria-label);
width:40%;
float:left;
}
table td:last-child {
margin:0 0 10px 0;
border-bottom:none;
}
table td:nth-of-type(1) {
margin:0 0 10px 0;
background:#eee;
}
}
